In [1]:
#average down to the month

%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import datetime

#wurzburg
# File to Load (Remember to change these)
weather_hive_ws_csv = "data/weather_hive_ws.csv"


# Read the hive Data
weather_hive_ws = pd.read_csv(weather_hive_ws_csv, parse_dates=['date'], date_parser=pd.to_datetime)

weather_hive_ws.dtypes

Unnamed: 0                int64
date             datetime64[ns]
w_humidity              float64
w_temperature           float64
w_weight                float64
w_flow                    int64
s_humidity              float64
s_temperature           float64
s_weight                float64
s_flow                    int64
w_city_temp             float64
w_city_humid            float64
s_city_temp             float64
s_city_humid            float64
dtype: object

In [2]:
weather_hive_ws.head()

,Unnamed: 0,date,w_humidity,w_temperature,w_weight,w_flow,s_humidity,s_temperature,s_weight,s_flow,w_city_temp,w_city_humid,s_city_temp,s_city_humid
0,0,2017-01-01,92.058947,-0.082160,52.661690,-6,98.040310,15.477829,50736.790078,-5,-5.145833,95.250000,5.000000,91.000000
1,1,2017-01-02,92.794722,1.825578,52.671111,-9,98.806319,13.376389,50657.796250,-22,1.583333,86.208333,0.708333,95.416667
2,2,2017-01-03,91.173472,3.082557,52.653767,-7,98.403472,16.181965,50769.785556,-30,5.220833,80.083333,4.714286,80.750000
3,3,2017-01-04,91.077917,3.750071,52.610835,-21,97.292292,14.724111,50532.602778,-28,14.466667,59.083333,15.178571,71.678571
4,4,2017-01-05,82.656076,2.259225,52.623591,-12,96.583889,9.058442,50109.808194,-11,8.235000,74.350000,12.206897,57.172414

In [3]:
pd.DatetimeIndex(weather_hive_ws.timestamp).normalize()
weather_hive_ws['date'] = pd.DatetimeIndex(weather_hive_ws.timestamp).normalize()
month_weather_hive_ws = weather_hive_ws.groupby("date").mean()

AttributeError: 'DataFrame' object has no attribute 'timestamp'