In [15]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

# File to Load (Remember to change these)
wurz_flow_csv = "data/flow_wurzburg.csv"
wurz_weight_csv = "data/weight_wurzburg.csv"
wurz_temp_csv = "data/temperature_wurzburg.csv"
wurz_humid_csv = "data/humidity_wurzburg.csv"

# Read the hive Data
wurz_flow = pd.read_csv(wurz_flow_csv)
wurz_weight = pd.read_csv(wurz_weight_csv)
wurz_temp = pd.read_csv(wurz_temp_csv)
wurz_humid = pd.read_csv(wurz_humid_csv)


# Combine the data into a single dataset
wurz_3_df = pd.merge(wurz_flow, wurz_weight, on="timestamp")
wurz_2_df = pd.merge(wurz_3_df, wurz_temp, on="timestamp")
wurz_hive_df = pd.merge(wurz_2_df, wurz_humid, on="timestamp")


# Display the data table for preview
wurz_hive_df.head()

                  timestamp  flow   weight  temperature   humidity
0       2017-01-01 06:00:00     0  52.6972    -1.866717  92.270000
1       2017-01-01 06:00:00     0  52.6972    -0.278550  92.270000
2       2017-01-01 06:00:00     0  52.6972     0.509700  92.270000
3       2017-01-01 06:00:00     0  52.6972     3.352567  92.270000
4       2017-01-01 06:00:00     0  52.6972     2.162150  92.270000
5       2017-01-01 06:00:00     0  52.6972     2.770200  92.270000
6       2017-01-01 06:00:00     0  52.6972     3.013883  92.270000
7       2017-01-01 06:00:00     0  52.6972     4.495117  92.270000
8       2017-01-01 06:00:00     0  52.6972     1.716817  92.270000
9       2017-01-01 06:00:00     0  52.6972     3.184883  92.270000
10      2017-01-01 06:00:00     0  52.6972     1.102850  92.270000
11      2017-01-01 06:00:00     0  52.6972    -2.588800  92.270000
12      2017-01-01 06:00:00     0  52.6972    -3.370600  92.270000
13      2017-01-01 06:00:00     0  52.6972    -1.866717  92.270000
14      2017-01-01 06:00:00     0  52.6972    -0.278550  92.270000
15      2017-01-01 06:00:00     0  52.6972     0.509700  92.270000
16      2017-01-01 06:00:00     0  52.6972     3.352567  92.270000
17      2017-01-01 06:00:00     0  52.6972     2.162150  92.270000
18      2017-01-01 06:00:00     0  52.6972     2.770200  92.270000
19      2017-01-01 06:00:00     0  52.6972     3.013883  92.270000
20      2017-01-01 06:00:00     0  52.6972     4.495117  92.270000
21      2017-01-01 06:00:00     0  52.6972     1.716817  92.270000
22      2017-01-01 06:00:00     0  52.6972     3.184883  92.270000
23      2017-01-01 06:00:00     0  52.6972     1.102850  92.270000
24      2017-01-01 06:00:00     0  52.6972    -2.588800  92.270000
25      2017-01-01 06:00:00     0  52.6972    -3.370600  92.270000
26      2017-01-01 07:00:00     0  52.6972    -2.077833  92.575000
27      2017-01-01 07:00:00     0  52.6972    -0.381017  92.575000
28      2017-01-01 07:00:00     0  52.6972     0.434400  92.575000
29      2017-01-01 07:00:00     0  52.6972     3.289867  92.575000
...                     ...   ...      ...          ...        ...
449588  2019-05-20 12:00:00     2  49.4324    32.241333  84.015000
449589  2019-05-20 12:00:00     2  49.4324    27.289833  84.015000
449590  2019-05-20 12:00:00     2  49.4324    16.228000  84.015000
449591  2019-05-20 12:00:00     2  49.4324    17.940000  84.015000
449592  2019-05-20 13:00:00   -35  49.3044    19.146596  83.304255
449593  2019-05-20 13:00:00   -35  49.3044    19.718511  83.304255
449594  2019-05-20 13:00:00   -35  49.3044    20.670213  83.304255
449595  2019-05-20 13:00:00   -35  49.3044    22.403191  83.304255
449596  2019-05-20 13:00:00   -35  49.3044    26.216170  83.304255
449597  2019-05-20 13:00:00   -35  49.3044    30.592000  83.304255
449598  2019-05-20 13:00:00   -35  49.3044    33.150000  83.304255
449599  2019-05-20 13:00:00   -35  49.3044    34.099184  83.304255
449600  2019-05-20 13:00:00   -35  49.3044    33.994082  83.304255
449601  2019-05-20 13:00:00   -35  49.3044    32.891224  83.304255
449602  2019-05-20 13:00:00   -35  49.3044    27.893265  83.304255
449603  2019-05-20 13:00:00   -35  49.3044    17.908000  83.304255
449604  2019-05-20 13:00:00   -35  49.3044    21.108000  83.304255
449605  2019-05-20 13:00:00    30  49.3044    19.146596  83.304255
449606  2019-05-20 13:00:00    30  49.3044    19.718511  83.304255
449607  2019-05-20 13:00:00    30  49.3044    20.670213  83.304255
449608  2019-05-20 13:00:00    30  49.3044    22.403191  83.304255
449609  2019-05-20 13:00:00    30  49.3044    26.216170  83.304255
449610  2019-05-20 13:00:00    30  49.3044    30.592000  83.304255
449611  2019-05-20 13:00:00    30  49.3044    33.150000  83.304255
449612  2019-05-20 13:00:00    30  49.3044    34.099184  83.304255
449613  2019-05-20 13:00:00    30  49.3044    33.994082  83.304255
449614  2019-05-20 13:00:00    30  49.3044    32.891224  83.304255
449615  2019-05-20 13:00:00    30  49.3044    27.893265  83.304255
449616  2019-05-20 13:00:00    30  49.3044    17.908000  83.304255
449617  2019-05-20 13:00:00    30  49.3044    21.108000  83.304255

[449618 rows x 5 columns]