In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import datetime as dt 

# (defunct) dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')


# File to Load (Remember to change these)
wurz_flow_csv = "data/flow_wurzburg.csv"
wurz_weight_csv = "data/weight_wurzburg.csv"
wurz_temp_csv = "data/temperature_wurzburg.csv"
wurz_humid_csv = "data/humidity_wurzburg.csv"

# Read the hive Data
wurz_flow = pd.read_csv(wurz_flow_csv, parse_dates=['timestamp'], date_parser=pd.to_datetime)
wurz_weight = pd.read_csv(wurz_weight_csv, parse_dates=['timestamp'], date_parser=pd.to_datetime)
wurz_temp = pd.read_csv(wurz_temp_csv, parse_dates=['timestamp'], date_parser=pd.to_datetime)
wurz_humid = pd.read_csv(wurz_humid_csv, parse_dates=['timestamp'], date_parser=pd.to_datetime)


# Combine the data into a single dataset

wurz_3_df = pd.merge(wurz_humid, wurz_temp, on="timestamp", how="left")
wurz_2_df = pd.merge(wurz_3_df, wurz_weight, on="timestamp", how="left")
wurz_hive_df = pd.merge(wurz_2_df, wurz_flow, on="timestamp", how="left")


# Display the data table for preview
wurz_hive_df

                 timestamp   humidity  temperature   weight  flow
0      2017-01-01 05:00:00  92.406667    -1.911244      NaN   NaN
1      2017-01-01 05:00:00  92.406667    -0.268978      NaN   NaN
2      2017-01-01 05:00:00  92.406667     0.553844      NaN   NaN
3      2017-01-01 05:00:00  92.406667     3.427489      NaN   NaN
4      2017-01-01 05:00:00  92.406667     2.186400      NaN   NaN
5      2017-01-01 05:00:00  92.406667     2.848156      NaN   NaN
6      2017-01-01 05:00:00  92.406667     4.505489      NaN   NaN
7      2017-01-01 05:00:00  92.406667     1.364311      NaN   NaN
8      2017-01-01 05:00:00  92.406667     3.199022      NaN   NaN
9      2017-01-01 05:00:00  92.406667     1.090467      NaN   NaN
10     2017-01-01 06:00:00  92.270000    -1.866717  52.6972   0.0
11     2017-01-01 06:00:00  92.270000    -1.866717  52.6972   0.0
12     2017-01-01 06:00:00  92.270000    -0.278550  52.6972   0.0
13     2017-01-01 06:00:00  92.270000    -0.278550  52.6972   0.0
14     2017-01-01 06:00:00  92.270000     0.509700  52.6972   0.0
15     2017-01-01 06:00:00  92.270000     0.509700  52.6972   0.0
16     2017-01-01 06:00:00  92.270000     3.352567  52.6972   0.0
17     2017-01-01 06:00:00  92.270000     3.352567  52.6972   0.0
18     2017-01-01 06:00:00  92.270000     2.162150  52.6972   0.0
19     2017-01-01 06:00:00  92.270000     2.162150  52.6972   0.0
20     2017-01-01 06:00:00  92.270000     2.770200  52.6972   0.0
21     2017-01-01 06:00:00  92.270000     2.770200  52.6972   0.0
22     2017-01-01 06:00:00  92.270000     3.013883  52.6972   0.0
23     2017-01-01 06:00:00  92.270000     3.013883  52.6972   0.0
24     2017-01-01 06:00:00  92.270000     4.495117  52.6972   0.0
25     2017-01-01 06:00:00  92.270000     4.495117  52.6972   0.0
26     2017-01-01 06:00:00  92.270000     1.716817  52.6972   0.0
27     2017-01-01 06:00:00  92.270000     1.716817  52.6972   0.0
28     2017-01-01 06:00:00  92.270000     3.184883  52.6972   0.0
29     2017-01-01 06:00:00  92.270000     3.184883  52.6972   0.0
...                    ...        ...          ...      ...   ...
496125 2019-05-20 12:00:00  84.015000    16.228000  49.4324  -5.0
496126 2019-05-20 12:00:00  84.015000    16.228000  49.4324   2.0
496127 2019-05-20 12:00:00  84.015000    17.940000  49.4324  -5.0
496128 2019-05-20 12:00:00  84.015000    17.940000  49.4324   2.0
496129 2019-05-20 13:00:00  83.304255    19.146596  49.3044 -35.0
496130 2019-05-20 13:00:00  83.304255    19.146596  49.3044  30.0
496131 2019-05-20 13:00:00  83.304255    19.718511  49.3044 -35.0
496132 2019-05-20 13:00:00  83.304255    19.718511  49.3044  30.0
496133 2019-05-20 13:00:00  83.304255    20.670213  49.3044 -35.0
496134 2019-05-20 13:00:00  83.304255    20.670213  49.3044  30.0
496135 2019-05-20 13:00:00  83.304255    22.403191  49.3044 -35.0
496136 2019-05-20 13:00:00  83.304255    22.403191  49.3044  30.0
496137 2019-05-20 13:00:00  83.304255    26.216170  49.3044 -35.0
496138 2019-05-20 13:00:00  83.304255    26.216170  49.3044  30.0
496139 2019-05-20 13:00:00  83.304255    30.592000  49.3044 -35.0
496140 2019-05-20 13:00:00  83.304255    30.592000  49.3044  30.0
496141 2019-05-20 13:00:00  83.304255    33.150000  49.3044 -35.0
496142 2019-05-20 13:00:00  83.304255    33.150000  49.3044  30.0
496143 2019-05-20 13:00:00  83.304255    34.099184  49.3044 -35.0
496144 2019-05-20 13:00:00  83.304255    34.099184  49.3044  30.0
496145 2019-05-20 13:00:00  83.304255    33.994082  49.3044 -35.0
496146 2019-05-20 13:00:00  83.304255    33.994082  49.3044  30.0
496147 2019-05-20 13:00:00  83.304255    32.891224  49.3044 -35.0
496148 2019-05-20 13:00:00  83.304255    32.891224  49.3044  30.0
496149 2019-05-20 13:00:00  83.304255    27.893265  49.3044 -35.0
496150 2019-05-20 13:00:00  83.304255    27.893265  49.3044  30.0
496151 2019-05-20 13:00:00  83.304255    17.908000  49.3044 -35.0
496152 2019-05-20 13:00:00  83.304255    17.908000  49.3044  30.0
496153 2019-05-20 13:00:00  83.304255    21.108000  49.3044 -35.0
496154 2019-05-20 13:00:00  83.304255    21.108000  49.3044  30.0

[496155 rows x 5 columns]

In [2]:
wurz_hive_df.dtypes

timestamp      datetime64[ns]
humidity              float64
temperature           float64
weight                float64
flow                  float64
dtype: object

In [3]:
#flow_time_type_df = wurz_flow['timestamp'].astype(str)
# fix by weight, then everage weight to merge the other files

In [4]:
wurz_date_group = wurz_hive_df.groupby(["timestamp"])